// SCSS slideshow

#slideshow {
  height: 450px;
  overflow: hidden;
  text-align: center;
  .myslide {

  }
  .dots {
    .dot {
      margin: 0 0.2em;
      width: 25px;
      height: 5px;
      border: 1px solid black;
      background-color: white;
      display: inline-block;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: black;
        font-weight: bold;
      }
    }
  }
}
