// SCSS slideshow

#slideshow {
  height: 450px;
  overflow: hidden;
  text-align: center;
  .myslide {

  }
  .dots {
    .dot {
      margin: 0 0.5em;
      &.active {
        font-weight: bold;
      }
    }
  }
}
