// SCSS News

@import "../../colors/_colors";
@import "../../fonts/fonts";

$azul_va: #5534ae;
$naranja: #ff9000;
$violeta: #93198f;
$verde: #aad000;
$azul_uva: #0e3675;
$rosa: #ff8b92;

// Crea los colores de los sitios para la agenda
@mixin crea_sitio_agenda($nombre, $color-fondo, $invertir) {
  // $nombre = el nombre que tendra el css
  // $color-fondo = Obvio
  // $invertir = para poner las letras blancas
  .#{$nombre} {
    padding: 0.5em;
    border-radius: 4px;
    background-color: $color-fondo;
    @if $invertir == true {
      h1, p {
        color: white !important;
      }
    }
  }
}

.agenda, #agenda {
  .header {
    border-bottom: 1px solid $negro;
    margin-right: 15px;
    h1 {
      font-size: 26px;
      //padding-left: 12px;
      padding-right: 20px;
      padding-bottom: 7px;
      text-transform: uppercase;
      margin-right: 15px;
    }
  }
  .bloque_raya {
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid $negro;
    .masinformacion {
      font-size: 10px;
      padding: 18px 20px;
      border: 1px solid $negro;
      text-transform: uppercase;
      a {
        color: $negro;
        &:hover {
          color: $negro;
          text-decoration: none;
        }
      }
    }
  }

  #agenda {
    .bloque_agenda {
      height: 100px;
      overflow: hidden;
      .slide {
        // Size and whatever made thanks bootstrap
      }
    }
  }

  @include crea_sitio_agenda('va', $azul_va, true);
  @include crea_sitio_agenda('se', $naranja, false);
  @include crea_sitio_agenda('pa', $violeta, true);
  @include crea_sitio_agenda('so', $verde, false);
  @include crea_sitio_agenda('uva_azul', $azul_uva, true);
  @include crea_sitio_agenda('uva_rosa', $rosa, false);

  .dots {
    .dot {
      margin: 0 0.2em;
      width: 25px;
      height: 5px;
      border: 1px solid black;
      background-color: white;
      display: inline-block;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: black;
      }
      &.showing {
        background-color: lighten(black, 70);
      }
    }
  }
}
