// SCSS Menu

.menu {
  .titulos {
    background-color: darken(white, 10%);
  }
  .menu_group {
    float: left;
    margin: 0 0.5em;
    @media only screen and (max-width: 493px) {
      float: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @media only screen and (max-width: 493px) {
        display: none;
      }
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }

}

// Extras
.hide_element {
  display: none !important;
}
.show_element {
  display: block !important;
}
